* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: Helvetica, Arial;
  background-color: #fff;
}

a {
  color: blue;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-width: 992px;
  max-width: 1070px;
  margin-right: auto;
  margin-left: auto;
}

.container > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.container > .col-2 {
  padding-left: 40px;
}

.text-center {
  text-align: center;
}

header, footer {
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #09acea;
}

header > div, footer > div {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  display: block;
  font-size: 36px;
  font-weight: 700;
  color: white;
}

.logo > span {
  display: block;
  font-size: 0.3em;
  font-weight: 400;
  letter-spacing: 0.7em;
  opacity: 0.6;
}

.menu {
  float: right;
}

.menu li {
  float: left;
  display: block;
  margin-left: 30px;
}

.menu li a {
  display: block;
  padding: 15px 26px;
  font-size: 20px;
  font-weight: 400;
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
}

.menu li:hover > a,
.menu li.aktif > a {
  color: #09acea;
  background-color: #ffffff;
}

main {
  min-height: calc(100vh - 180px - 80px);
  display: block;
  width: 100%;
  padding: 40px 0;
}

.slayt-resim {
  position: relative;
  width: 100%;
  height: 600px;
  margin-top: -40px;
  margin-bottom: 40px;
  background-color: #1d4657;
}

.slayt-resim img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

h1 {
  margin-bottom: 30px;
  font-size: 42px;
}

h1 + p {
  margin-top: -20px;
}

h2 {
  margin-bottom: 30px;
}

p {
  margin-bottom: 30px;
}

.liste {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 104%;
  margin-left: -4%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.liste a {
  overflow: hidden;
  display: block;
  width: 29.333333333333333333%;
  margin-left: 4%;
  margin-top: 4%;
  background: #f7f5ed;
  border: 1px solid #ececec;
  border-radius: 6px;
  -webkit-box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.2);
}

.liste img {
  display: block;
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.liste a:hover img {
  -webkit-transform: scale(1.06);
          transform: scale(1.06);
}

label {
  display: block;
  margin-bottom: 20px;
}

label > div {
  font-weight: 700;
  margin-bottom: 4px;
  padding-left: 10px;
}

select,
textarea,
input[type="text"] {
  display: block;
  width: 100%;
  height: 42px;
  line-height: 28px;
  margin: 0;
  padding: 7px 20px;
  font-size: 15px;
  font-weight: 400;
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: #fff;
  border-radius: 12px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

textarea {
  min-height: 90px;
  height: 90px;
}

.btn {
  overflow: hidden;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 140px;
  height: 42px;
  padding: 5px 20px;
  line-height: 1;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
  text-decoration: none !important;
  white-space: nowrap;
  border-radius: 12px;
  border: 1px solid  #083d60;
  background: #083d60;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.btn + .btn {
  margin-left: 10px;
}

footer {
  height: 180px;
  background-color: #333333;
}

footer > .container {
  display: block;
}

footer .copyright {
  margin-top: 20px;
  border-top: 1px solid #525252;
}

footer .menu {
  float: none;
  text-align: center;
}

footer .menu li {
  float: none;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  margin-left: 10px;
}

footer .menu li a {
  padding: 10px;
  font-size: 16px;
  font-weight: 400;
  color: #c5def4;
  background: none !important;
}

footer .menu li a:hover {
  text-decoration: underline;
}

.copyright {
  font-size: 14px;
  color: #c5def4;
  text-align: center;
  padding: 20px 0;
}

.ana-metin {
  position: absolute;
  top: 160px;
  width: 100%;
  font-size: 64px;
  color: white;
  z-index: 1;
}

.ana-sayfa-kutular {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ana-sayfa-kutu {
  max-width: 340px;
  margin-top: 30px;
  padding-right: 40px;
  padding-left: 40px;
  text-align: center;
  color: inherit;
}

.ana-sayfa-kutu .resim {
  width: 260px;
  height: 100px;
  background-color: #09acea;
  color: white;
  font-size: 24px;
  font-weight: 600;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
